<!DOCTYPE html>
<html lang="en" >
<head >
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="static/js/edit.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    .login{
        width: 365px;
        height: 620px;
        margin: auto;
        border-radius: 3px;
    }
    
</style>
<body onload="call2()">
    
    <div class="login">
        
        <h1>EDIT YOUR PASSOWORD</h1>
        <form>
            <label>EDIT USERNAME</label>
            <input type="text"  id="email"  required>
            <label>EDIT PASSWORD</label>
            <input type="text"  id="password" required>
            <label>EDIT COMPANY NAME</label>
            <input type="text"  id="company" required>
            <br>
            <br>
    
              
            <button type="button" onclick="save()">SAVE</button>
            <br>
            <br>
            <button type="button" onclick="menu()">BACK TO PASSWORDS SCREEN</button>
        </form>
        
        
    </div>
    
   
</body>
</html>