<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Mananger </title>
    <link rel="stylesheet" href="static\css\style.css">
    <style>
        
        table{
            align-self: center;
            background-color: goldenrod;
            border-radius: 40px;
            padding: 10px;
        }
        th{
            font-size: 40px;
            width : 200px;
            color : #fff;
        }
        td{
            align-items: center;
            font-size: 25px;
            align-content: center;

        }
        
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="static/js/menu.js"></script>
    <div class="user_profile">
</head>
<body onload="call()">
    
        
        
        
   </div>
   </div>
   <h1>Password Manager</h1>
        <div class="textBox">
           
            <table id="table" onclick="click()">
                <thead>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Company</th>
                </thead>
                <tbody>

                </tbody>
            </table>
            <br>
            <br>
            <button onclick="edit()" >Edit</button>
            <br>
            <br>
            <button onclick="add()" >Add</button>
            <br>
            <br>
            <button onclick="logout()" >Logout</button>
            
            
        </div>
</body>
</html>